version: '3'

volumes:
  pg_data:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./talent_reserves/
    env_file: .env
    ports:
      - "8000:80"
    depends_on:
      - db