@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.swiper-news-card {
    max-width: 460px;
    // width: 460px;
    // width: 100%;
    margin: 25px 0;
}

.swiper-news-card__image_wrapper {
    position: relative;
}

.swiper-news-card__image {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-bottom: 25px;
}

.swiper-news-card__image_title {
    position: absolute;
    background-color: $bg-color-red;
    top: -16px;
    left: 38px;
    width: 128.38px;
    height: 32.24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 163%;
    color: $text-color-white;
    text-align: center;
    border-radius: 9px;
}

.swiper-news-card__title {
    display: block;
    color: $text-color-black;
    width: 381px;
    font-weight: 600;
    line-height: 165%;
    font-size: 20px;
}

@include tablet {
    .swiper-news-card {
        max-width: 380px;
    }

    .swiper-news-card__image {
        width: 380px;
        height: 330px;
    }
    
    .swiper-news-card__title {
        width: 315px;
        margin-bottom: 37px;
    }

    .swiper-news-card__image {
        margin-bottom: 7px;
    }
}

@include mobile {
    .swiper-news-card {
        max-width: 270px;
    }

    .swiper-news-card__image {
        width: 270px;
        height: 235px;
    }
    
    .swiper-news-card__title {
        width: 223px;
        font-size: 14px;
    }

    .swiper-news-card__image {
        margin-bottom: 7px;
    }

    .swiper-news-card__image_title {
        width: 91px;
        height: 23px;
        top: -11px;
        left: 22.3px;
    }
    
}