$bg-color-blue: #003263;
$bg-color-white: #fff;
$bg-color-red: #d1172c;
$bg-color-ligth-grey: #e5e5e5;
$bg-color-dark_red: #6d1f28;
$bg-color-ligth-blue: #d6e6f4;

$text-color-blue: #003263;
$text-color-black: #121212;
$text-color-grey: #545454;
$text-color-white: #fff;

$border-color-ligth-blue: #839ead;
$border-color-red: #d1172c;
$border-color-blue: #003263;


$breakpoint_desktop: 1280px;
$breakpoint_laptop: 1024px;
$breakpoint_netbook: 880px;
$breakpoint_tablet: 768px;
$breakpoint_pocketpc: 480px;
$breakpoint_mobile: 394px;
