@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.card {
  max-width: 360px;
  min-height: 165px;
  background-color: $bg-color-ligth-blue;
}

.card__title {
  padding-top: 39px;
  margin-left: 17px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: rgba(40, 40, 40, 1);
}

.card__subtitle {
  margin-top: 16px;
  margin-left: 17px;
  font-size: 15px;
  line-height: 25.5px;
  font-weight: 400;
  color: rgba(40, 40, 40, 1);
}

@include desktop {
  .card {
    max-width: 300px;
  }

  .card__title {
    padding-top: 24px;
    margin-left: 14px;
    font-size: 18px;
    line-height: 29.42px;
    font-weight: 700;
  }

  .card__subtitle {
    margin-top: 13px;
    margin-left: 14px;
  }
}

@include mobile {
  .card {
    min-height: 140px;
    height: 140px;
  }

  .card__title {
    padding-top: 17px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 23px;
  }

  .card__subtitle {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 23px;
  }
}
