@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.faqitem {
  background-color: $bg-color-ligth-blue;
  border-radius: 10px;
}

.faqitem__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px 26px 71px;
}

.faqitem__wrapper_open {
  padding: 30px 40px 9px 71px;
}

.faqitem__title {
  color: $text-color-black;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.65; /* 33px */
}

.faqitem__button {
  min-width: 48px;
  min-height: 48px;
  border: 1px solid $border-color-ligth-blue;
  border-radius: 5px;
  padding: 0;
  background-image: url('../../../public/chevron-arrows.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.faqitem__button_active {
  border: 1px solid $border-color-red;
  background-image: url('../../../public/chevron-arrows-active.svg');
}

.faqitem__paragraph {
  display: none;
  padding: 0 88px 47px 71px;
  color: #545454;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.faqitem__paragraph_open {
  display: block;
}

@include laptop {
  .faqitem__wrapper {
    padding: 26px 60px 26px 58px;
  }

  .faqitem__wrapper_open {
    padding: 30px 60px 10px 58px;
  }

  .faqitem__paragraph {
    padding: 0 60px 20px 58px;
  }
}

@include mobile {
  .faqitem__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.63418%;
  }

  .faqitem__paragraph {
    padding: 0 18px 25px 19px;
    font-size: 14px;
    line-height: 1.65;
  }

  .faqitem__wrapper {
    padding: 16px 33px 16px 18px;
  }

  .faqitem__wrapper_open {
    padding: 19px 33px 12px 18px;
  }
}
