@import './variables';
@import './mixins';
@import '../../node_modules/swiper/swiper-bundle.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-roboto), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.page__wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.page {
  max-width: 1440px;
}
