@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.wrapper {
  height: 500px;
  width: 560px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper {
  height: 26%;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.swiperGalleryMain {
  height: 74%;
  width: 100%;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: solid 3px $border-color-blue;
  border-radius: 5px;
}

@include desktop {
  .wrapper {
    height: 408px;
    width: 460px;
  }

  .mySwiper {
    padding: 10px 0 0;
  }
}

@include tablet {
  .wrapper {
    height: 300px;
    width: 336px;
    margin: 27px 0;
  }
}

@include pocketpc {
  .swiperGalleryMain {
    height: 100%;
  }

  .wrapper {
    width: 394px;
    height: 30%;
    margin: 27px 0;
  }

  .swiperGallery__custom {
    width: 269px;
    height: 177px;
  }

  .swiperGallery__custom.swiper-slide-prev,
  .swiperGallery__custom.swiper-slide-next {
    opacity: 0.4;
  }
}

@include mobile {
  .swiperGalleryMain {
    height: 100%;
  }

  .wrapper {
    max-width: 394px;
    height: 177px;
    margin: 0;
  }
}